@use 'partials/variables/fonts.css';
@use 'partials/components/form_component';

* {
  margin: 0;
}

body {
  font-family: "gt_walsheim_proregular";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.dxc_logo {
  width: 60%;
}

h1 {
  font-family: "gt_walsheim_probold";
  font-weight: normal;
  font-style: normal;
  color: #6f2c91;
  padding: 0 6vw;
  margin-bottom: 2vh;
}

.main_content {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 6vw;
}

//   form image
.form_image {
  margin-top: 10vh;
  margin-bottom: 16vh;
}

// Text content column

.text_content {
  p {
    font-size: 1rem;
    margin-bottom: 2vh;
  }
  .text_image,
  .text_image_after {
    display: none;
  }
}

/*------------------------------MEDIAQUERY 600px-----------------------*/

@media screen and (min-width: 600px) {
  .dxc_logo {
    width: 40%;
  }
}

/*------------------------------MEDIAQUERY 800px-----------------------*/

@media screen and (min-width: 800px) {
  h1 {
    margin-top: 4vh;
  }
  .main_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form_image {
    display: none;
  }

  .text_content {
    padding: 0 3vw;
    .text_image,
    .text_image_after {
      display: block;
    }
    .text_image_after {
      width: 60%;
      margin-left: 14vw;
    }
  }
}

/*------------------------------MEDIAQUERY 900px-----------------------*/

@media screen and (min-width: 900px) {
  .main_content {
    margin-bottom: 16vh;
  }
  .text_content {
    margin-top: -4vh;
    .text_image {
      width: 80%;
    }
  }
}

/*------------------------------MEDIAQUERY 1000px-----------------------*/

@media screen and (min-width: 1000px) {
  .dxc_logo {
    width: 30%;
  }
  h1 {
    margin-left: 4vw;
    font-size: 3rem;
  }
}

/*------------------------------MEDIAQUERY 1400px-----------------------*/

@media screen and (min-width: 1400px) {
  .dxc_logo {
    width: 25%;
    margin-top: 1vh;
  }
  h1 {
    margin-left: 6vw;
  }

  .text_content {
    margin-top: -16vh;
  }
}
